<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3e471">  <td>19/04/01 17:46:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AppTest.runBeforeTest()[pri:0, instance:Mobile.Auto.AppTest@394a2528]">&gt;&gt;runBeforeTest</td> 
<td>&nbsp;</td>  <td>main@1047460013</td>   <td></td> </tr>
<tr bgcolor="a3e471">  <td>19/04/01 17:46:33</td>   <td>9069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.testCalc()[pri:0, instance:Mobile.Auto.AppTest@394a2528]">testCalc</td> 
  <td>main@1047460013</td>   <td></td> </tr>
</table>
